/** HEADER **/
#header-nav {
    margin-bottom: 15px;
    padding: 20px 0;
}
.navbar-header {
    font-size: 3.5vw;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#collapsable-nav li {
    margin-left: 15px;
}

#collapsable-nav a {
    text-align: center;
    font-size: 2.5vw;
}

/** END HEADER **/


/** FOOTER **/

/** FOOTER **/


/** HOME **/

#main-content {
    margin-top: 30px;
}

#main-content h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 60px;
}

#main-content > p{
    margin: 0 auto;
    text-align: center;
    width: 35vw;
    margin-top: 30px;
    font-size: 3vw;
}

/** END HOME **/


/** LARGE DEVICES **/
@media (min-width: 1200px) {
    /* Header */
    #header-nav {
        margin-bottom: 50px;
        padding: 20px 0;
    }
    .navbar-header {
        font-size: 2.5vw;
    }

    #collapsable-nav a {
        font-size: 1.25vw;
    }
    /* End Header */
    
    /* Home */
    #main-content h1 {
        font-size: 4.5vw;
    }
    #main-content > p {
        font-size: 1.5vw;
        width: 20vw;
    }
    /* End Home */
}

/** MEDIUM DEVICES **/
@media (min-width: 992px) and (max-width: 1199.98px) {
        /* Header */
        #header-nav {
            margin-bottom: 50px;
            padding: 20px 0;
        }
        .navbar-header {
            font-size: 2.5vw;
        }
    
        #collapsable-nav a {
            font-size: 1.5vw;
        }
        /* End Header */
        
        /* Home */
        #main-content  h1 {
            font-size: 4.5vw;
            margin-bottom: 0;
        }
        #main-content > p {
            font-size: 2vw;
            width: 20vw;
        }
        /* End Home */
}

/** SMALL DEVICES **/
@media (min-width: 768px) and (max-width: 991.98px) {
        /* Header */
        #header-nav {
            margin-bottom: 50px;
            padding: 10px 0;
        }
        .navbar-header {
            font-size: 3.5vw;
        }
    
        #collapsable-nav a {
            font-size: 2vw;
        }
        /* End Header */
        
        /* Home */
        #main-content  h1 {
            font-size: 5vw;
            margin-bottom: 0;
        }
        #main-content > p {
            font-size: 2.5vw;
            width: 20vw;
        }
        /* End Home */
}
